.product-card {
    width: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
  }
  
  .product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 16px;
  }
  
  .product-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .product-value {
    font-size: 16px;
    margin-bottom: 16px;
  }
  
  .product-button {
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .product-button:hover {
    background-color: #0055cc;
  }
  